@model Contact

@{
    ViewBag.Title = "Contact Details";
}
<h2>@ViewBag.Title</h2>
<div>
    <table class="table table-bordered">
        <tr>
            <td>Name:</td>
            <td>@Model.FirstName @Model.LastName</td>
        </tr>
        <tr>
            <td>Phone:</td>
            <td>@Model.Phone</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>@Model.Email</td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>@Model.Category.CategoryName</td>
        </tr>
        <tr>
            <td>Organization:</td>
            <td>@Model.Organization</td>
        </tr>
        <tr>
            <td>Date Added:</td>
            <td>@Model.DateAdded</td>
        </tr>
    </table>
    <div>
        <a asp-controller="Contact" asp-action="Edit" asp-route-id="@Model.ContactId" class="btn btn-secondary">Edit</a>
        <a asp-controller="Contact" asp-action="Delete" asp-route-id="@Model.ContactId" class="btn btn-secondary">Delete</a>
        <a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Home</a>
    </div>
</div>

